<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>beyonic</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard"><i class="fa fa-home"></i>&nbsp;&nbsp; Dashboard</a>
      <a mat-list-item href="#"><i class="fa fa-credit-card-alt"></i>&nbsp;&nbsp; Balance</a>
      <a mat-list-item href="#"><i class="fa fa-arrows-h"></i>&nbsp;&nbsp; Transactions</a>
      <a mat-list-item href="#"><i class="fa fa-circle"></i>&nbsp;&nbsp; Organization</a>
      <a mat-list-item href="#"><i class="fa fa-bullseye"></i>&nbsp;&nbsp; Groups</a>
      <a mat-list-item href="#"><i class="fa fa-globe"></i>&nbsp;&nbsp; Zones</a>
      <a mat-list-item href="#"><i class="fa fa-cog"></i>&nbsp;&nbsp; Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary" class="navbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;<span class="me-auto">Transactions</span>&nbsp;
      <!-- <form class="float-end">
        <mat-form-field class="form-field">
          <mat-label>What's your favorite movie?</mat-label>
          <input matInput name="searchText" autocomplete="auto" placeholder="Search for movies..."
          [(ngModel)]="searchText">
        </mat-form-field>  
      </form> -->
    </mat-toolbar>

    <!-- Add Content Here -->
    <div class="container p-4">
      <app-dashboard-layout></app-dashboard-layout>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
