.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: #001F30;
  color: white;
  padding: 10px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
a {
  font-size: small;
}
a:hover {
  color: #FF9D41;
}

.navbar {
  background: #F3F3F1;
  padding: 30px;
}

.container {
  padding: 20px;
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0px;
  }
}
