.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: #001F30;
  padding: 10px;

  a {
    color: white;
    font-size: small;
  }
  a:hover {
    color: #FF9D41;
  }
}
.fa-arrow-left {
  margin-top: 16px;
}
.sidenav .mat-toolbar {
  background: inherit;
  color: #F3F3F1;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  color: black;
}

.navbar {
  background: #F3F3F1;
  padding: 30px;
  padding-top: 30px;
}

.container {
  padding: 20px;
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0px;
  }
}
