<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>beyonic</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" class="text-warning"><i class="fa fa-home"></i>&nbsp;&nbsp; Dashboard</a>
      <a mat-list-item href="#"><i class="fa fa-question-circle"></i>&nbsp;&nbsp; Balance</a>
      <a mat-list-item href="#"><i class="fa fa-credit-card"></i>&nbsp;&nbsp; Transactions</a>
      <a mat-list-item href="#"><i class="fa fa-circle"></i>&nbsp;&nbsp; Organization</a>
      <a mat-list-item href="#"><i class="fa fa-bullseye"></i>&nbsp;&nbsp; Groups</a>
      <a mat-list-item href="#"><i class="fa fa-globe"></i>&nbsp;&nbsp; Zones</a>
      <a mat-list-item href="#"><i class="fa fa-cog"></i>&nbsp;&nbsp; Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <nav class="navbar navbar-expand-lg sticky-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
      <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;<span class="me-auto mt-2"><h2>Transactions</h2></span>&nbsp;&nbsp;
      <form class="float-start">
          <div class="input-group col-md-4">
            <input class="form-control py-2 border-right-0 border" type="search" placeholder="Type something..." id="example-search-input">
        </div>
      </form>
          </ul>
      </div>
    </nav>

    <!-- Add Content Here -->
    <div class="container p-4">
      <app-dashboard></app-dashboard>
    </div>

    <nav class="navbar footer navbar-expand-lg">
      <p class="mx-auto">MFS Africa Assessments | April 2022 &copy; Developed by <span class="text-info">Extension Tlhareseng</span></p>
    </nav>
  </mat-sidenav-content>
</mat-sidenav-container>
