.card {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  overflow-x: auto;
}
thead {
  border: none;
}
.fa-edit {
  color: blue;
}
.fa-trash {
  color: red;
}
a {
  cursor: pointer;
}
*:focus {
  outline: none;
}
.local {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background: transparent;
}
.search, .date {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: transparent;
  height: 38px;
  border-right: none;
}
.input {
  border-left: none;
  width: 30px;
  padding-left: 0px;
}

.field-icon {
  float: right;
  left: -15px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.amount {
  border: none;
  background: transparent;
}

.icon {
  cursor: pointer;
}