.card {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  overflow-x: auto;
}
thead {
  border: none;
}
.fa-edit {
  color: blue;
}
.fa-trash {
  color: red;
}
a {
  cursor: pointer;
}
*:focus {
  outline: none;
}
.local {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background: transparent;
}
.search, .date {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: transparent;
  height: 38px;
  border-right: none;
}
.input {
  border-left: none;
  width: 30px;
  padding-left: 0px;
}

.field-icon {
  float: right;
  left: -15px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.amount {
  border: none;
  background: transparent;
}

.icon {
  cursor: pointer;
}

.date-icon {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 38px;
}
.date-input {
  height: 38px;
}
input[type="text"]:focus{
  box-shadow: 0 0 0 rgb(255, 255, 255);
  border: 0.5px solid rgb(177, 177, 177);
}
.input:focus{
  box-shadow: 0 0 0 rgb(255, 255, 255);
  border: 0.5px solid rgb(177, 177, 177);
  border-left: none;
}

.button {
  background: #105d86;
}
.button:hover {
  background: #08486a;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

::ng-deep .mat-form-field {
  font-size: 12px; // example
}

mat-form-field {
  width: 100%;
}

.modal-content {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border: none;
  border-top: 3px solid #001F30;
  background: #f0faff;
}

.input {
  border: none;
  border-bottom: 1px solid rgb(142, 142, 142);
  border-radius: 0px;
  padding-right: 0px;
  background: #f0f0f0;
  padding: 10px;
}

.fa-times {
  font-weight: 100 !important;
}

.input::placeholder {
  font-size: 12px;
}

.reset {
  border-radius: 0px;
  background: #f0f0f0;
  height: 45px;
  border: none;
  border-bottom: 1px solid rgb(142, 142, 142);
  margin-top: 0px;
}

input[type="text"]:focus{
  box-shadow: none;
  border: none;
  border-bottom: 2px solid indigo;
}