<h5>Country of interest</h5><hr>
<p>Kenya</p><br>
<h5>Edit trasactions</h5><hr>
<p>Edit the transactions below to match the right information.</p>

<div class="card">
    <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">o</th>
            <th scope="col">Value Date</th>
            <th scope="col">Transaction ID</th>
            <th scope="col">Movement type</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>2022-01-14</td>
            <td>3432454334</td>
            <td>Money Transfer</td>
            <td>*************&nbsp;&nbsp;<i class="fa fa-eye-slash" aria-hidden="true"></i></td>
            <td>Active</td>
            <td>
                <a href=""><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                <a href=""><i class="fa fa-trash"></i></a>
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>2022-01-14</td>
            <td>3432454334</td>
            <td>Money Transfer</td>
            <td>*************&nbsp;&nbsp;<i class="fa fa-eye" aria-hidden="true"></i></td>
            <td>Error</td>
            <td>
                <a href=""><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                <a href=""><i class="fa fa-trash"></i></a>
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>2022-01-14</td>
            <td>3432454334</td>
            <td>Money Transfer</td>
            <td>*************&nbsp;&nbsp;<i class="fa fa-eye-slash" aria-hidden="true"></i></td>
            <td>Active</td>
            <td>
                <a href=""><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                <a href=""><i class="fa fa-trash"></i></a>
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>2022-01-14</td>
            <td>3432454334</td>
            <td>Money Transfer</td>
            <td>*************&nbsp;&nbsp;<i class="fa fa-eye" aria-hidden="true"></i></td>
            <td>Hold</td>
            <td>
                <a href=""><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                <a href=""><i class="fa fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
</div>
